In [1]:
#Data is more common in databases vs text/csv files

#pandas.io.sql module provide a unified interface independent of DB
# called sqlalchemy. 

#Example commands

#from sqlalchemy import create_engine
#engine = create_engine('postgresql://anm:dog@localhost:5432/mydatabase')

#MySQL
#engine = create_engine('mysql+mysqldb://anm:dog@localhost/foo')

#Oracle
#engine = create_engine("oracle://anm:dog@127.0.0.1:1521/sidname")

#MSSQL
#engine = create_engine('mssql+pyodbc'://mydsn)

#SQLLite
#engine = create_engine('sqlite:///foo.db')

In [8]:
#Exmaple
#User SQLite dbase using drivers built in python sqlite3
# sqlite3 = tool implements dbms sql in simple lightweight way so that
# it can be incorporated within any application implemented with python 
# lagnauge.

#tool for anyone who wanst to have the functions of a database without having
# to install a real database.

import numpy as np
import pandas as pd
from sqlalchemy import create_engine

frame = pd.DataFrame(np.arange(20).reshape((4,5)), columns =["white",
                                "red","blue","black","green"])
engine = create_engine('sqlite:///foo.db') #create SQLite3 database
frame.to_sql("colors",engine) #convert dataframe in a table withitn dbase

ValueError: Table 'colors' already exists.

In [9]:
#use read_sql() to read teh table
pd.read_sql('colors',engine)

   index  white  red  blue  black  green
0      0      0    1     2      3      4
1      1      5    6     7      8      9
2      2     10   11    12     13     14
3      3     15   16    17     18     19

In [10]:
#The same operations as above but using sqlite3 functions
import sqlite3
query =""" CREATE TABLE test (a VARCHAR(20), b VARCHAR(20),
            c REAL, d INTEGER);"""
con = sqlite3.connect(":memory:")
con.execute(query)
con.commit()

In [12]:
data = [('white','up',1,3),
        ('black','down',2,8),
        ('green','up',4,4),
        ("red","down",5,5)]
stmt = "INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)
con.commit()

#with this data is loaded into the table

In [13]:
#now to get the data from the table

cursor = con.execute("select * from test")
cursor

In [14]:
rows =cursor.fetchall()
rows

[('white', 'up', 1.0, 3),
 ('black', 'down', 2.0, 8),
 ('green', 'up', 4.0, 4),
 ('red', 'down', 5.0, 5)]

In [15]:
#POSTGRES
pd.__version__
#postgres requires insntallation; which we can pass for now.

'0.18.0'