In [1]:
#Merging tables:
#Meging operation is similar to JOIN in SQL

import numpy as np
import pandas as pd

frame1 = pd.DataFrame({'id':['ball','pencil','pen','mug','ashtray'],
                      "price":[12.33,11.44,33.21,13.23,33.62]})
frame1

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.21
3      mug  13.23
4  ashtray  33.62

In [3]:
frame2 = pd.DataFrame({"id":["pencil","pencil","ball","pen"],
                      "color": ["white","red","red","black"]})
frame2

   color      id
0  white  pencil
1    red  pencil
2    red    ball
3  black     pen

In [5]:
pd.merge(frame1,frame2)
#merge contains all rows that have ID in common between two dataframes
#columns from both frames are added

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

In [11]:
#In earlier example, columns to match was not specified

frame1 = pd.DataFrame({"id":["ball","pencil","pen","mug","ashtray"],
                      "color":["white","red","red","black","green"],
                      "brand": ["OMG","ABC","ABC","POD","POD"]})

frame2 = pd.DataFrame({"id":["pencil","pencil","ball","pen"],
                      "brand":["OMG","POD","ABC","POD"]})

print(frame1,"\n")
print(frame2,"\n")

  brand  color       id
0   OMG  white     ball
1   ABC    red   pencil
2   ABC    red      pen
3   POD  black      mug
4   POD  green  ashtray

  brand      id
0   OMG  pencil
1   POD  pencil
2   ABC    ball
3   POD     pen

In [12]:
pd.merge(frame1, frame2)
#no results;  because there are not common id, brand between both frames
# e.g OMG ball, ABC Pencil, ABC pen, POD mug, POD ashtray not in frame2

Empty DataFrame
Columns: [brand, color, id]
Index: []

In [10]:
pd.merge(frame1, frame2, on = "id") #explicitly specify the column to
#m match. Now both data frames have differing brand names so both appear.

  brand_x  color      id brand_y
0     OMG  white    ball     ABC
1     ABC    red  pencil     OMG
2     ABC    red  pencil     POD
3     ABC    red     pen     POD

In [13]:
pd.merge(frame1, frame2, on ="brand")

  brand  color     id_x    id_y
0   OMG  white     ball  pencil
1   ABC    red   pencil    ball
2   ABC    red      pen    ball
3   POD  black      mug  pencil
4   POD  black      mug     pen
5   POD  green  ashtray  pencil
6   POD  green  ashtray     pen

In [14]:
frame2.columns = ['brand','sid'] #for another exercise, rename columns
frame2

  brand     sid
0   OMG  pencil
1   POD  pencil
2   ABC    ball
3   POD     pen

In [15]:
pd.merge(frame1, frame2, left_on='id', right_on='sid')
    #merge syntax, when the columns to join do not have the same name.

  brand_x  color      id brand_y     sid
0     OMG  white    ball     ABC    ball
1     ABC    red  pencil     OMG  pencil
2     ABC    red  pencil     POD  pencil
3     ABC    red     pen     POD     pen

In [19]:
#by default does inner join, but it is possible to do left, right or 
# outer join
frame2.columns=["brand","id"]
print(frame2,"\n")
print(frame1,"\n")
print("inner join")
print(pd.merge(frame1,frame2,on ="id"),"\n")
print("outer join")
print(pd.merge(frame1,frame2,on ="id", how ="outer"),"\n")
print("left join")
print(pd.merge(frame1,frame2,on ="id", how ="left"),"\n")
print("right join")
print(pd.merge(frame1,frame2,on ="id", how ="right"),"\n")

  brand      id
0   OMG  pencil
1   POD  pencil
2   ABC    ball
3   POD     pen

  brand  color       id
0   OMG  white     ball
1   ABC    red   pencil
2   ABC    red      pen
3   POD  black      mug
4   POD  green  ashtray

inner join
  brand_x  color      id brand_y
0     OMG  white    ball     ABC
1     ABC    red  pencil     OMG
2     ABC    red  pencil     POD
3     ABC    red     pen     POD

outer join
  brand_x  color       id brand_y
0     OMG  white     ball     ABC
1     ABC    red   pencil     OMG
2     ABC    red   pencil     POD
3     ABC    red      pen     POD
4     POD  black      mug     NaN
5     POD  green  ashtray     NaN

left join
  brand_x  color       id brand_y
0     OMG  white     ball     ABC
1     ABC    red   pencil     OMG
2     ABC    red   pencil     POD
3     ABC    red      pen     POD
4     POD  black      mug     NaN
5     POD  green  ashtray     NaN

right join
  brand_x  color      id brand_y
0     OMG  white    ball     ABC
1     ABC    red  pencil     OMG
2     ABC    red  pencil     POD
3     ABC    red     pen     POD

In [22]:
pd.merge(frame1,frame2, on =['id','brand'],how = "outer") 
        #merging on two columns

  brand  color       id
0   OMG  white     ball
1   ABC    red   pencil
2   ABC    red      pen
3   POD  black      mug
4   POD  green  ashtray
5   OMG    NaN   pencil
6   POD    NaN   pencil
7   ABC    NaN     ball
8   POD    NaN      pen

In [23]:
#Merging on index
pd.merge(frame1, frame2, right_index = True, left_index = True)
    #merge based on indices, both right and left index has to be set to true

  brand_x  color    id_x brand_y    id_y
0     OMG  white    ball     OMG  pencil
1     ABC    red  pencil     POD  pencil
2     ABC    red     pen     ABC    ball
3     POD  black     mug     POD     pen

In [26]:
#merging on index is similar to calling join on 1 frame object to another
#the merging objects in this case (joining on indices) must have different
#column names

#frame1.join(frame2) #Throws error
frame2.columns =["brand2","id2"]
frame1.join(frame2)

  brand  color       id brand2     id2
0   OMG  white     ball    OMG  pencil
1   ABC    red   pencil    POD  pencil
2   ABC    red      pen    ABC    ball
3   POD  black      mug    POD     pen
4   POD  green  ashtray    NaN     NaN

In [32]:
#Concatnating Data
array1 =[[0,1,2],[3,4,5],[6,7,8]]
array2 = np.arange(9).reshape((3,3))+6

np.concatenate([array1,array2],axis=1) #concatnating along rows

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11],
       [ 6,  7,  8, 12, 13, 14]])

In [35]:
np.concatenate([array1,array2],axis = 0) #concatnating along columns

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [36]:
ser1 = pd.Series(np.random.rand(4), index = [1,2,3,4])
ser2 = pd.Series(np.random.rand(4), index = [5,6,7,8])
pd.concat([ser1,ser2]) #by default axis is set =0

1    0.734010
2    0.161162
3    0.658737
4    0.585897
5    0.228682
6    0.222894
7    0.400458
8    0.264328
dtype: float64

In [37]:
pd.concat([ser1,ser2],axis =1) # concatenating on  axis =1 //rows
    #but there are no overlapping; similar to outer join
    #

          0         1
1  0.734010       NaN
2  0.161162       NaN
3  0.658737       NaN
4  0.585897       NaN
5       NaN  0.228682
6       NaN  0.222894
7       NaN  0.400458
8       NaN  0.264328

In [40]:
pd.concat([ser1,ser2], axis=1, join = "inner")
#doesnt really work in the way described in the book.

          0         1
1  0.734010       NaN
2  0.161162       NaN
3  0.658737       NaN
4  0.585897       NaN
5       NaN  0.228682
6       NaN  0.222894
7       NaN  0.400458
8       NaN  0.264328

In [41]:
#can create a hierarchial indexing for concatenation
pd.concat([ser1,ser2], keys =[1,2])

1  1    0.734010
   2    0.161162
   3    0.658737
   4    0.585897
2  5    0.228682
   6    0.222894
   7    0.400458
   8    0.264328
dtype: float64

In [42]:
pd.concat([ser1,ser2], keys =[1,2], axis = 1) #if axis is along rows
            #then keys become column headers of DataFrame

          1         2
1  0.734010       NaN
2  0.161162       NaN
3  0.658737       NaN
4  0.585897       NaN
5       NaN  0.228682
6       NaN  0.222894
7       NaN  0.400458
8       NaN  0.264328

In [51]:
#concatenation applied to data frames
frame1 =pd.DataFrame(np.zeros(9).reshape(3,3),index = [1,2,3], 
                                columns =["A","B","C"])
frame2 =pd.DataFrame(np.ones(9).reshape(3,3), index = [1,2,3],
                                 columns =["A","B","C"])
pd.concat([frame1,frame2]) #default axis  = 0; along columns

     A    B    C
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0
3  1.0  1.0  1.0

In [53]:
pd.concat([frame1,frame2],axis=1)

     A    B    C    A    B    C
1  0.0  0.0  0.0  1.0  1.0  1.0
2  0.0  0.0  0.0  1.0  1.0  1.0
3  0.0  0.0  0.0  1.0  1.0  1.0

In [55]:
#conbining data that have some indexes overalpping
ser1  = pd.Series(5*np.ones(5), index = [1,2,3,4,5])
ser2  = pd.Series(np.ones(4), index = [2,4,5,6])
ser1.combine_first(ser2) #takes data from ser1 and adds new indices from ser2
        #combine_first concatnates Series with overlapping indexes

1    5.0
2    5.0
3    5.0
4    5.0
5    5.0
6    1.0
dtype: float64

In [56]:
ser2.combine_first(ser1) #takes indices from ser2 and adds missing indices
                            # from series 1

1    5.0
2    1.0
3    5.0
4    1.0
5    1.0
6    1.0
dtype: float64

In [59]:
print(ser2[:2])
print(ser1[:3])
ser2[:2].combine_first(ser1[:3]) #can combine specific range

2    1.0
4    1.0
dtype: float64
1    5.0
2    5.0
3    5.0
dtype: float64

1    5.0
2    1.0
3    5.0
4    1.0
dtype: float64

In [ ]:
#Pivotin