In [8]:
import numpy as np
import pandas as pd
#Arithmetic methods


frame = pd.DataFrame(np.arange(16).reshape((4,4)),index =["red","blue",
            "yellow","white"],columns=["ball","pen","pencil","paper"])

frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),index = ["blue","green",
            "white","yellow"],columns =["mug","pen","ball"])

frame3 = pd.DataFrame(np.random.random(16).reshape((4,4)),index = ["red",
        "blue","yellow","white"],columns=["ball","pen","pencil","paper"])

frame4 = pd.DataFrame((0.25*np.ones(16)).reshape((4,4)),index = ["red",
        "blue","yellow","white"],columns=["ball","pen","pencil","paper"])

frame5 = pd.DataFrame((np.ones(16)).reshape((4,4)),index = ["red",
        "blue","yellow","white"],columns=["ball","pen","pencil","paper"])

In [4]:
frame.add(frame3) #Adding frames that have same indices and columns

             ball        pen     pencil      paper
red      0.057505   1.416801   2.458549   3.384198
blue     4.204604   5.557346   6.216747   7.819513
yellow   8.570750   9.528240  10.116447  11.355605
white   12.061295  13.150072  14.113967  15.293574

In [5]:
frame.add(frame2) #Adding frames that have different indices and columns
# only entries that have same column and indice name in both arrays are 
added

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [9]:
frame5.sub(frame4) #subtraction

        ball   pen  pencil  paper
red     0.75  0.75    0.75   0.75
blue    0.75  0.75    0.75   0.75
yellow  0.75  0.75    0.75   0.75
white   0.75  0.75    0.75   0.75

In [10]:
frame5.div(frame4) #division

        ball  pen  pencil  paper
red      4.0  4.0     4.0    4.0
blue     4.0  4.0     4.0    4.0
yellow   4.0  4.0     4.0    4.0
white    4.0  4.0     4.0    4.0

In [11]:
frame5.mul(frame4) #multiplication

        ball   pen  pencil  paper
red     0.25  0.25    0.25   0.25
blue    0.25  0.25    0.25   0.25
yellow  0.25  0.25    0.25   0.25
white   0.25  0.25    0.25   0.25

In [14]:
#Operation between data frames and series

ser = pd.Series(np.arange(4),["ball","pen","pencil","paper"])
print(ser,"\n")
print(frame,"\n")
print(frame-ser) #Note entires in frames with corresponding indices
                    # in series are subtractre

ball      0
pen       1
pencil    2
paper     3
dtype: int64

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

        ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

In [15]:
ser["mug"]= 9
print(ser,"\n")
print(frame-ser) #mug doesnt exist in frame hence resultant - NaN

ball      0
pen       1
pencil    2
paper     3
mug       9
dtype: int64

        ball  mug  paper  pen  pencil
red        0  NaN      0    0       0
blue       4  NaN      4    4       4
yellow     8  NaN      8    8       8
white     12  NaN     12   12      12

In [17]:
#Function Application and Mapping
np.sqrt(frame) #square root function on frame

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

In [19]:
#applying functions
print(frame, "\n")
def f(x):
    return(x.max()-x.min())

frame.apply(f) #applied to each column

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [20]:
frame.apply(f, axis =1) #apply function to each row

red       3
blue      3
yellow    3
white     3
dtype: int64

In [22]:
def f(x):
    return (pd.Series([x.min(),x.max()], index =["min","max"])) #return a
                    #series containing min and max

print(frame.apply(f),"\n")
print(frame.apply(f, axis=1))

     ball  pen  pencil  paper
min     0    1       2      3
max    12   13      14     15

        min  max
red       0    3
blue      4    7
yellow    8   11
white    12   15

In [24]:
#Statistical Functions:
print(frame.sum(),"\n")
print(frame.mean(),"\n")
print(frame.describe(),"\n")

ball      24
pen       28
pencil    32
paper     36
dtype: int64

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [28]:
#Sorting and Ranking
ser = pd.Series([5,0,3,8,4], index =["red","blue","yellow","white","green"])
print(ser,"\n")
print(ser.sort_index(),"\n") #Default sorting order descenading
                    #sort in alphabetical order as index = string
print(ser.sort_index(ascending=False))

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

blue      0
green     4
red       5
white     8
yellow    3
dtype: int64

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

In [29]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),index=["red","blue",
                "yellow","white"], columns=["ball","pen","pencil","paper"])
print(frame,"\n")
print(frame.sort_index(),"\n") #sort row order
print(frame.sort_index(axis=1),"\n") #sort column order

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

In [34]:
print(ser,"\n")
print(ser.sort_values()) #ser.order() ..order() is deprecated
    #sort based on values

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

In [39]:
print(frame,"\n")
print(frame.sort_values(by="pen")) #sort on column values of pen
print(frame.sort_values(by=["pen","pencil"]))

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15
        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [43]:
print(ser,"\n")
print(ser.rank(),"\n") #gives rank in sorted order
print(ser.sort_values()) #compare ranks and sorted order

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

In [46]:
print(ser,"\n")
print(ser.rank(method='first')) #dont know what the first paramter does

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

In [4]:
#Correlation and Covariance
import pandas as pd
import numpy as np
a = pd.Series([1,2,3,4,5])
b = pd.Series([5,4,3,2,1])

print("Calculating co-variance")
abcorr = sum((a-a.mean())*(b-b.mean()))/(len(a)-1)
print("a and b correlation: ", abcorr,"\n")

print("Calculating correlation")
numerator = sum((a-a.mean())*(b-b.mean()))
denominator = np.sqrt(sum((a-a.mean())*(a-a.mean())) * sum((b-b.mean())*(b-b.mean())))
abcovar = numerator/denominator
print("a and b covariance: ", abcovar,"\n")

print("Correlation from forumla", a.corr(b))
print("Covariance from forumla", a.cov(b))



seq2 = pd.Series([3,4,3,4,5,4,3,2],["2006",'2007',"2008","2009","2010",
                                  "2011","2012","2013"])
seq = pd.Series([1,2,3,4,4,3,2,1],["2006",'2007',"2008","2009","2010",
                                  "2011","2012","2013"])
print(seq.corr(seq2),"\n") #correlation between the sequences
print(seq.cov(seq2),"\n") #covariance of the sequence

Calculating correlation
a and b correlation:  -2.5

Calculating covariance
a and b covariance:  -1.0

Correlation from forumla -1.0
Covariance from forumla -2.5
0.774596669241

0.857142857143

In [11]:
#frame = pd.DataFrame([[1,2,3,4],[2,1,6,1],[3,6,1,5],[4,1,5,1]],index=["red","blue",
#        "yellow","white"], columns=["ball","pen","pencil","paper"])

frame = pd.DataFrame([[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]],index=["red","blue",
        "yellow","white","green"], columns=["ball","pen","pencil","paper","cup"])

frame = pd.DataFrame([[1,1,1,1,1],[2,2,2,2,2],[3,3,3,3,3],[3,3,3,3,3],[3,3,3,3,3]],index=["red","blue",
        "yellow","white","green"], columns=["ball","pen","pencil","paper","cup"])
#use any one of the frame definitions above

print(frame, "\n")
print(frame.corr(),"\n")
print(frame.cov())

        ball  pen  pencil  paper  cup
red        1    1       1      1    1
blue       2    2       2      2    2
yellow     3    3       3      3    3
white      3    3       3      3    3
green      3    3       3      3    3

        ball  pen  pencil  paper  cup
ball     1.0  1.0     1.0    1.0  1.0
pen      1.0  1.0     1.0    1.0  1.0
pencil   1.0  1.0     1.0    1.0  1.0
paper    1.0  1.0     1.0    1.0  1.0
cup      1.0  1.0     1.0    1.0  1.0

        ball  pen  pencil  paper  cup
ball     0.8  0.8     0.8    0.8  0.8
pen      0.8  0.8     0.8    0.8  0.8
pencil   0.8  0.8     0.8    0.8  0.8
paper    0.8  0.8     0.8    0.8  0.8
cup      0.8  0.8     0.8    0.8  0.8

In [12]:
print(ser,"\n")
print(frame,"\n")
print(frame.corrwith(ser))

NameError: name 'ser' is not defined

In [57]:
frame.corrwith(ser)

ball     -0.140028
pen      -0.869657
pencil    0.080845
paper     0.595854
dtype: float64

In [60]:
print(frame,"\n")
print(frame2,"\n")
print(frame.corrwith(frame2))

        ball  pen  pencil  paper
red        1    4       3      6
blue       4    5       6      1
yellow     3    3       1      5
white      4    1       6      4

        mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

ball     -0.755929
mug            NaN
paper          NaN
pen      -0.654654
pencil         NaN
dtype: float64

In [63]:
#Managing NaN

ser = pd.Series([0,1,2,np.NaN,9],["red","blue","yellow","white","green"])
            #explicitly assign NaN
print(ser,"\n")
ser['red'] = None
print(ser,"\n")

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

red       NaN
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [65]:
print(ser.dropna()) #Drop the NaN values

blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [66]:
print(ser[ser.notnull()]) #same as dropna

blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [71]:
#Frames dropna is bit more complicated

frame3 = pd.DataFrame([[6,np.NaN,6],[np.NaN,np.NaN,np.NaN],[2,np.NaN,5]],
             index=["blue","green","red"],columns=["ball","mug","pen"])

print(frame3,"\n")
print(frame3.dropna()) #one na in a row or column will elminate the row or
                #column

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

Empty DataFrame
Columns: [ball, mug, pen]
Index: []

In [72]:
frame3 = pd.DataFrame([[6,6,6],[np.NaN,np.NaN,np.NaN],[2,np.NaN,5]],
                index=["blue","green","red"],columns=["ball","mug","pen"])
print(frame3,"\n")
print(frame3.dropna()) #if all entires in row exist that is retained.

       ball  mug  pen
blue    6.0  6.0  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

      ball  mug  pen
blue   6.0  6.0  6.0

In [74]:
frame3 = pd.DataFrame([[6,np.NaN,6],[np.NaN,np.NaN,np.NaN],[2,np.NaN,5]],
             index=["blue","green","red"],columns=["ball","mug","pen"])

print(frame3,"\n")
print(frame3.dropna(how ="all")) #drop only rows that have all
                        #nan values

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

      ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

In [79]:
#Filling in NaN occurences:
print(frame3,"\n")
print(frame3.fillna(0),"\n") #fill na with 0s
print(frame3.fillna({'ball':1,"mug":0,"pen":99})) #for each column 
                #fill with specific values

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  0.0  0.0
red     2.0  0.0  5.0

       ball  mug   pen
blue    6.0  0.0   6.0
green   1.0  0.0  99.0
red     2.0  0.0   5.0

In [86]:
#Hierarchial Indexing and Levelling

mser = pd.Series(np.random.rand(8),index=[["white","white","white","blue",
        "blue","red","red","red"],["up","down","right","up","down","up",
                             "down","left"]]) #Series with two arrays of 
                                                #indexes
print(mser,"\n")
print(mser.index) #gives levels and labels; labels correspond to levels

white  up       0.171420
       down     0.262817
       right    0.486335
blue   up       0.303756
       down     0.762339
red    up       0.413721
       down     0.961194
       left     0.447588
dtype: float64

MultiIndex(levels=[['blue', 'red', 'white'], ['down', 'left', 'right', 'up']],
           labels=[[2, 2, 2, 0, 0, 1, 1, 1], [3, 0, 2, 3, 0, 3, 0, 1]])

In [87]:
mser["white"] #values corresponding to first index

up       0.171420
down     0.262817
right    0.486335
dtype: float64

In [88]:
mser[:,'up'] #values corresponding to 2nd index

white    0.171420
blue     0.303756
red      0.413721
dtype: float64

In [89]:
mser["white","up"]

0.17141992426897779

In [90]:
#think hierarchial indexing like a pivot table.
mser.unstack() #series now is converted into a dataframe

           down      left     right        up
blue   0.762339       NaN       NaN  0.303756
red    0.961194  0.447588       NaN  0.413721
white  0.262817       NaN  0.486335  0.171420

In [92]:
#DataFrames can be converted into series as well
print(frame,"\n")
frame.stack()

        ball  pen  pencil  paper
red        1    4       3      6
blue       4    5       6      1
yellow     3    3       1      5
white      4    1       6      4

red     ball      1
        pen       4
        pencil    3
        paper     6
blue    ball      4
        pen       5
        pencil    6
        paper     1
yellow  ball      3
        pen       3
        pencil    1
        paper     5
white   ball      4
        pen       1
        pencil    6
        paper     4
dtype: int64

In [94]:
#hierarchial index for dataframe

mframe = pd.DataFrame(np.random.rand(16).reshape(4,4),
         index =[["white","white","red","red"],["up","down","up","down"]],
        columns =[["pen","pen","paper","paper"],[1,2,1,2]])
mframe

                 pen               paper
                   1         2         1         2
white up    0.163825  0.244662  0.503679  0.182339
      down  0.737813  0.997104  0.075293  0.937136
red   up    0.758702  0.607976  0.734363  0.624690
      down  0.761754  0.210458  0.378771  0.949036

In [95]:
mframe.unstack()

            pen                                   paper                      \
              1                   2                   1                   2
           down        up      down        up      down        up      down
red    0.761754  0.758702  0.210458  0.607976  0.378771  0.734363  0.949036
white  0.737813  0.163825  0.997104  0.244662  0.075293  0.503679  0.937136



             up
red    0.624690
white  0.182339

In [96]:
mframe.unstack().unstack()

pen    1  down  red      0.761754
                white    0.737813
          up    red      0.758702
                white    0.163825
       2  down  red      0.210458
                white    0.997104
          up    red      0.607976
                white    0.244662
paper  1  down  red      0.378771
                white    0.075293
          up    red      0.734363
                white    0.503679
       2  down  red      0.949036
                white    0.937136
          up    red      0.624690
                white    0.182339
dtype: float64

In [98]:
#Reordering and Sorting levels

mframe.columns.names =['objects',"id"]
mframe.index.names =['colors',"status"]
mframe

objects             pen               paper
id                    1         2         1         2
colors status
white  up      0.163825  0.244662  0.503679  0.182339
       down    0.737813  0.997104  0.075293  0.937136
red    up      0.758702  0.607976  0.734363  0.624690
       down    0.761754  0.210458  0.378771  0.949036

mframe.swaplevel('colors',"status")

In [99]:
mframe.swaplevel('colors',"status") #leaves values unchanged

objects             pen               paper
id                    1         2         1         2
status colors
up     white   0.163825  0.244662  0.503679  0.182339
down   white   0.737813  0.997104  0.075293  0.937136
up     red     0.758702  0.607976  0.734363  0.624690
down   red     0.761754  0.210458  0.378771  0.949036

In [101]:
mframe.sortlevel('colors') #sort by value of colors

objects             pen               paper
id                    1         2         1         2
colors status
red    down    0.761754  0.210458  0.378771  0.949036
       up      0.758702  0.607976  0.734363  0.624690
white  down    0.737813  0.997104  0.075293  0.937136
       up      0.163825  0.244662  0.503679  0.182339

In [102]:
mframe.sum(level ="colors") #summary statistic like sum at various levels

objects       pen               paper
id              1         2         1         2
colors
red      1.520456  0.818434  1.113134  1.573726
white    0.901638  1.241766  0.578973  1.119475

In [106]:
mframe

objects             pen               paper
id                    1         2         1         2
colors status
white  up      0.163825  0.244662  0.503679  0.182339
       down    0.737813  0.997104  0.075293  0.937136
red    up      0.758702  0.607976  0.734363  0.624690
       down    0.761754  0.210458  0.378771  0.949036

In [105]:
mframe.sum(level="id", axis =1) #sums column wise

id                    1         2
colors status
white  up      0.667504  0.427001
       down    0.813106  1.934241
red    up      1.493064  1.232666
       down    1.140525  1.159494