In [1]:
import numpy as np
import pandas as pd
#remember to run and install html5lib by running conda install html5lib

#Can convert a DataFrame to HTML

frame = pd.DataFrame(np.arange(4).reshape(2,2))
print(frame.to_html()) #convert dataframe to html

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [3]:
frame = pd.DataFrame(np.random.random((4,4)), index =["white","black","red",
        "blue"],columns =["up","down","right","left"])
frame

#creating an html file
s = ["<HTML>"]
s.append('<HEAD><TITLE> My DataFrame </TITLE></HEAD>')
s.append('<BODY>')
s.append(frame.to_html())
s.append("</BODY></HTML>")
html = ''.join(s)

html_file = open("myFrame.html","w")
html_file.write(html)
html_file.close()

In [4]:
#Reading Data from an HTML file
#Reading html and converting tables to dataframes

web_frames = pd.read_html("myFrame.html")
web_frames[0] #read_html function returs a list of DataFrame. Here since
#since there is only 1 table, the first entry of the list is the table.

  Unnamed: 0        up      down     right      left
0      white  0.440577  0.693260  0.153645  0.756566
1      black  0.900525  0.742767  0.758565  0.561864
2        red  0.423630  0.885188  0.805657  0.553705
3       blue  0.432239  0.544432  0.548060  0.273659

In [8]:
ranking = pd.read_html("http://www.meccanismocomplesso.org/en/meccanismo-complesso-sito-2/classifica-punteggio/")                
ranking[0].head() #reading a table from a page.

   Member        points  levels  Unnamed: 3
0       1   BrunoOrsini    2075         NaN
1       2     Berserker     700         NaN
2       3  albertosallu     275         NaN
3       4           Jon     180         NaN
4       5          Mr.Y     180         NaN

In [12]:
#XML NEEDS BIT REVIEW AND LOOKING INTO
#Reading data from a XML file
#from lxml import objectify
#xml = objectify.parse("books.xml")

XMLSyntaxError: Opening and ending tag mismatch: Book line 3 and Author, line 4, column 31 (<string>)

In [15]:
#Reading and Writing Data on Microsoft Excel Files
pd.read_excel("data.xls") #loading xls file in first spreadsheet
pd.read_excel("data.xls",1)

   id  value2  value2.1  value3
0  22       5         7       8
1  23      10        14      16
2  24      15        21      24

In [14]:
pd.read_excel("data.xls","Sheet2") #Reading data from 2nd sheet

   id  value2  value2.1  value3
0  22       5         7       8
1  23      10        14      16
2  24      15        21      24

In [17]:
#similar thing applies for writing
frame = pd.DataFrame(np.random.random((4,4)), index = ["exp1","exp2",
        "exp3","exp4"],columns =["Jan2015","Feb2015","Mar2015","Apr2015"] )
frame.to_excel("data2.xlsx")

In [19]:
#JSON Data
frame = pd.DataFrame(np.arange(16).reshape(4,4), index = ["white","black",
                "red","blue"], columns =["up","down","right","left"])
frame.to_json("frame.json") #Write the table to a json file
    # for all practice purpse json seems to be like an xml file with
    #tags and content

In [20]:
pd.read_json("frame.json") # reading froma  json file that has a straight up 
                           # table

       down  left  right  up
black     5     7      6   4
blue     13    15     14  12
red       9    11     10   8
white     1     3      2   0

In [30]:
#json files do not generally have a simple tabular form; 
# they have a nested dictionary sort of format that we need to normalize
# json_normalize is used for normalization

from pandas.io.json import json_normalize
file = open('books.json','r') #open the file for reading
text = file.read()            #read the file into text
text = pd.json.loads(text)    #json load the text file
print(text)
json_normalize(text, "books") #normalize the text content to read a
                # a particular tag, in this case, we are reading the list
                # of books that contain book title and prices.
        # note that it does not then take the writer into accoutn.
        # Read all elements that have Book as the key.

[{'writer': 'Mark Ross', 'books': [{'title': 'XML Cookbook', 'price': 23.56}, {'title': 'Python Fundamentals', 'price': 50.7}, {'title': 'The NumPy library', 'price': 12.3}], 'nationality': 'USA'}, {'writer': 'Barbara Bracket', 'books': [{'title': 'Java Enterprise', 'price': 28.6}, {'title': 'HTML5', 'price': 31.35}, {'title': 'Python for Dummies', 'price': 28.0}], 'nationality': 'UK'}]

   price                title
0  23.56         XML Cookbook
1  50.70  Python Fundamentals
2  12.30    The NumPy library
3  28.60      Java Enterprise
4  31.35                HTML5
5  28.00   Python for Dummies

In [32]:
#In previous example DataFram contained only info about book. Adding other
# value of keys is possible.

#insert a key list
json_normalize(text, "books",["writer"])

   price                title           writer
0  23.56         XML Cookbook        Mark Ross
1  50.70  Python Fundamentals        Mark Ross
2  12.30    The NumPy library        Mark Ross
3  28.60      Java Enterprise  Barbara Bracket
4  31.35                HTML5  Barbara Bracket
5  28.00   Python for Dummies  Barbara Bracket

In [33]:
json_normalize(text, "books",["writer","nationality"])

   price                title           writer nationality
0  23.56         XML Cookbook        Mark Ross         USA
1  50.70  Python Fundamentals        Mark Ross         USA
2  12.30    The NumPy library        Mark Ross         USA
3  28.60      Java Enterprise  Barbara Bracket          UK
4  31.35                HTML5  Barbara Bracket          UK
5  28.00   Python for Dummies  Barbara Bracket          UK