In [1]:
import numpy as np
import pandas as pd
#Defining Dataframes:

#two index array; first associated with lines similar to series;
#second associated with the column

#create a dictionary object
data = {'color': ['blue','green',"yellow","red","white"],
       "object": ["ball",'pen',"pencil","paper","mug"],
       "price":[1.2,1.0,0.6,0.9,1.7]}
data

{'color': ['blue', 'green', 'yellow', 'red', 'white'],
 'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
 'price': [1.2, 1.0, 0.6, 0.9, 1.7]}

In [2]:
frame = pd.DataFrame(data) #pass the dicitionary objects to a dataframe
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [3]:
frame2 = pd.DataFrame(data, columns =["object","price"]) # can select
                                    #specific columns from the dictionary
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [4]:
frame3 = pd.DataFrame(data, index = ["one","two","three","four","five"])
                #assigning indices explicitly
frame3

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [5]:
frame4 = pd.DataFrame(np.arange(0,16).reshape((4,4)),
                     index=["red","blue","yellow","white"],
                     columns = ["ball","pen","pencil","paper"])
        #Use arange to assign automatic values
        #DataFrame(Data, array index(row) ,array column)
frame4

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [6]:
import pandas as pd
import numpy as np
frame4 = pd.DataFrame(np.arange(0,16).reshape((4,4)),
                     index = ["red","blue","yellow","white"],
                     columns=["ball","pen","pencil","paper"])
frame4

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [46]:
frame4.columns #selecting the columen names

Index(['ball', 'pen', 'pencil', 'paper'], dtype='object')

In [47]:
frame4.index #selecting the indices

Index(['red', 'blue', 'yellow', 'white'], dtype='object')

In [48]:
frame4.values #all the values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [49]:
print(frame4["ball"],"\n") #column entries; Object returned = series
frame4.ball

red        0
blue       4
yellow     8
white     12
Name: ball, dtype: int32

red        0
blue       4
yellow     8
white     12
Name: ball, dtype: int32

In [50]:
print(frame4.ix[0],"\n") #to access rows use .ix and row number
frame4.ix[3]

ball      0
pen       1
pencil    2
paper     3
Name: red, dtype: int32

ball      12
pen       13
pencil    14
paper     15
Name: white, dtype: int32

In [51]:
#multiple rows
print(frame4.ix[[0,2]]) #note the parameters; its not a range, its 0 and 2

        ball  pen  pencil  paper
red        0    1       2      3
yellow     8    9      10     11

In [52]:
#extracting a portion 
frame4[0:1] #1st row

     ball  pen  pencil  paper
red     0    1       2      3

In [53]:
frame4[0:3] #3 rows

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11

In [54]:
#Accessing particular value in the data frame
frame4["ball"][2] #need column name and index

8

In [55]:
frame4["ball"][0:3] #index can be a range

red       0
blue      4
yellow    8
Name: ball, dtype: int32

In [56]:
frame4["ball"]["red"] #can be actual column and row names

0

In [57]:
#Assigning Values
#index and column attributes can be named
frame4.index.name = 'id'
frame4

        ball  pen  pencil  paper
id
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [58]:
frame4.columns.name ="item"
frame4

item    ball  pen  pencil  paper
id
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [60]:
#Adding a new column
frame4["new"] =12 #entry is replicated
frame4

item    ball  pen  pencil  paper  new
id
red        0    1       2      3   12
blue       4    5       6      7   12
yellow     8    9      10     11   12
white     12   13      14     15   12

In [62]:
frame4["new"] =[3.9,1.3,1.0,1.2] #new values to be assigned to the column
frame4

item    ball  pen  pencil  paper  new
id
red        0    1       2      3  3.9
blue       4    5       6      7  1.3
yellow     8    9      10     11  1.0
white     12   13      14     15  1.2

In [70]:
ser = pd.Series(np.arange(0,4), ["red","blue","yellow","white"]) #create a
                # new series to be addead as column; need to have same
                # indices
print(ser)
frame4["new"] = ser
frame4

red       0
blue      1
yellow    2
white     3
dtype: int32

item    ball  pen  pencil  paper  new
id
red        0    1       2      3    0
blue       4    5       6      7    1
yellow     8    9      10     11    2
white     12   13      14     15    3

In [73]:
#Membership of a Value
frame4.isin([6,10]) #just the boolean

item     ball    pen pencil  paper    new
id
red     False  False  False  False  False
blue    False  False   True  False  False
yellow  False  False   True  False  False
white   False  False  False  False  False

In [80]:
frame4[frame4.isin([6,10,1,2,3])]

item    ball  pen  pencil  paper
id
red      NaN  1.0     2.0    3.0
blue     NaN  NaN     6.0    NaN
yellow   NaN  NaN    10.0    NaN
white    NaN  NaN     NaN    NaN

In [86]:
#Deleting a column
ser = pd.Series(np.arange(0,4), ["red","blue","yellow","white"])
frame4["pencil"]=ser
print(frame4)
del frame4["pencil"] #can only run this code once as is, as it deletes
    # column every time its run and next time re-running the code throws
    # an error
frame4

item    ball  pen  paper  pencil
id
red        0    1      3       0
blue       4    5      7       1
yellow     8    9     11       2
white     12   13     15       3

item    ball  pen  paper
id
red        0    1      3
blue       4    5      7
yellow     8    9     11
white     12   13     15

In [87]:
#Filtering
frame4<10

item     ball    pen  paper
id
red      True   True   True
blue     True   True   True
yellow   True   True  False
white   False  False  False

In [88]:
frame4[frame4<10]

item    ball  pen  paper
id
red      0.0  1.0    3.0
blue     4.0  5.0    7.0
yellow   8.0  9.0    NaN
white    NaN  NaN    NaN

In [91]:
#DataFrame from nested dictionary
#nested dictionary is a common data form:
nestdict = {"red":{2012:22,2013:33},
            "white":{2011:12,2012:22,2013:16},
           "blue": {2011:17,2012:27,2013:18}}

frame2 = pd.DataFrame(nestdict) #External keys = column name, 
                                # internel key = labels
frame2

      blue   red  white
2011    17   NaN     12
2012    27  22.0     22
2013    18  33.0     16

In [92]:
#Transposition of data frame
frame2.T

       2011  2012  2013
blue   17.0  27.0  18.0
red     NaN  22.0  33.0
white  12.0  22.0  16.0