In [4]:
import numpy as np
import pandas as pd
#Learn about  tools to read and write files
#Reader                     #Writer
#----------------------------------
#read_csv                  to_csv
#read_excel                to_excel
#read_hdf                  to_hdf
#read_sql                  to_sql
#read_json                 to_json
#read_html                 to_html
#read_stata                to_stata
#read_clipboard            to_clipboard
#read_pickle               to_pickle

In [12]:
csvframe = pd.read_csv('myCSV_01.csv') #reading csv
csvframe

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [13]:
pd.read_table('myCSV_01.csv',sep=',') #using read_table function
                                    # it can be used for csv files

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [15]:
pd.read_csv("myCSV_02.csv",header = None) #No header in the csv file

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  2  2  8  3   duck
4  4  4  2  1  mouse

In [16]:
pd.read_csv("myCSV_02.csv", names =["white","red","blue","green","animal"])

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [17]:
pd.read_csv("myCSV_03.csv", index_col=["color","status"])
#example of creating a dataframe with hierarchial structure by reading 
#csv file. Using index_col option convert specific columns to index

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4

In [21]:
#Using regular expression for parsing text files
pd.read_table('ch05_04.txt',sep ='\t', engine = "python") #compiler warning
                        #said to use engine = python
    #the text file here is tab seperated

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [24]:
pd.read_table('ch05_04_02.txt',sep ='\s', engine = "python")
#text file here is whitespace separated.

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [25]:
pd.read_table('ch05_04.txt',sep ='\s*', engine = "python")
#reg expression for space throws some warning.

/home/animo/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py:1588: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/home/animo/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py:1590: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [30]:
pd.read_table('ch05_05.txt',sep ="\D*", header = None, engine ="python" )
    #\D* = regular expression for non-digit character
    #this example need to extract the numeric part from the text file
    #which has a sequence of characters and numberical vlaues.
    
    #Seperaters can be thought of as like special character like commas
    #space tab but can be also thought of as alpha numeric character

/home/animo/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py:1588: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/home/animo/anaconda3/lib/python3.5/site-packages/pandas/io/parsers.py:1590: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [31]:
pd.read_table("ch05_06.txt",sep=',',skiprows=[0,1,3,6],engine="python")
#skiprows exclude the lines

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [38]:
#Reading TXT files int parts or partially
a= pd.read_csv("myCSV_02.csv", header = None)
print(a)
pd.read_csv("myCSV_02.csv",skiprows =[3], nrows =4, header = None)
#explicitly specify the number of lines on which to parse
#nrows = number of rows to be read
#skiprows= which rows to e skipped

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  2  2  8  3   duck
4  4  4  2  1  mouse

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  4  4  2  1  mouse

In [53]:
a = pd.read_csv('myCSV_01.csv')
print(a,"\n")

out = pd.Series()
i= 0

#Read the csv file
pieces = pd.read_csv('myCSV_02.csv', chunksize =3)

#what is each block in the csv files.
for piece in pieces:
    print(piece)

print()
print(piece["cat"])

#out.set_value(0, piece["white"])
#for piece in pieces:
#    out.set_value(i,piece['white'].sum())
#    i = i+1

#Pg 108 in the book; need to rethink

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

   1  5  2  3    cat
0  2  7  8  5    dog
1  3  3  6  7  horse
2  2  2  8  3   duck
   1  5  2  3    cat
0  4  4  2  1  mouse

0    mouse
Name: cat, dtype: object

In [55]:
#Writing Data in CSV
frame = pd.DataFrame(np.arange(16).reshape((4,4)),index =["red","blue",
            "yellow","white"],columns=["ball","pen","pencil","paper"])
frame
frame.to_csv("ch05_07b.csv", index = False, header = False)

In [57]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),index =["red","blue",
            "yellow","white"],columns=["ball","pen","pencil","paper"])

frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),index = ["blue","green",
            "white","yellow"],columns =["mug","pen","ball"])

frame3= frame.add(frame2)
frame3.to_csv("ch05_08.csv")
frame3.to_csv("ch05_09.csv", na_rep = "NaN")