In [2]:
import numpy as np
import pandas as pd
#Data Aggregation-. give a single result e.g sum(), avg()
#Group-by is basically map-reduce philophy
#splitting: division into groups of datasets
#applying: application of a function on each group
# combining: combination of all results obtained by different groups.

frame = pd.DataFrame({'color':["white","red","green","red","green"],
                     'object': ["pen",'pencil',"pencil","ashtray","pen"],
                     "price1": [5.56,4.20,1.3,0.56,2.75],
                     "price2": [4.75, 4.12,1.6,0.75, 3.15]})
frame

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15

In [5]:
group = frame["price1"].groupby(frame["color"])
group #object that contains details
group.groups #shows the color, index grouping for price

{'green': [2, 4], 'red': [1, 3], 'white': [0]}

In [6]:
group.mean()#mean "price1" for each group of color

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

In [8]:
group.sum() #sum of "price1" for each group of color

color
green    4.05
red      4.76
white    5.56
Name: price1, dtype: float64

In [12]:
#Hierarchial grouping
#grouping to multiple columns as key

group2 = frame["price1"].groupby([frame["color"],frame["object"]])
            #grouping on muliple columns
print(group2.sum(),"\n")
print(group2.mean(),"\n")

color  object
green  pen        2.75
       pencil     1.30
red    ashtray    0.56
       pencil     4.20
white  pen        5.56
Name: price1, dtype: float64

color  object
green  pen        2.75
       pencil     1.30
red    ashtray    0.56
       pencil     4.20
white  pen        5.56
Name: price1, dtype: float64

In [15]:
group3 = frame[["price1","price2"]].groupby(frame["color"]) 
            #select multiple items to enumerate for a group
print(group3.sum(),"\n")
print(group3.mean())

       price1  price2
color
green    4.05    4.75
red      4.76    4.87
white    5.56    4.75

       price1  price2
color
green   2.025   2.375
red     2.380   2.435
white   5.560   4.750

In [24]:
#Group Iteration
#groupby is uspported on tuples
print(frame.groupby("color").groups,"\n")

for(name,group) in frame.groupby('color'):
    print(name)
    print(group)
    print()

{'white': [0], 'red': [1, 3], 'green': [2, 4]}

green
   color  object  price1  price2
2  green  pencil    1.30    1.60
4  green     pen    2.75    3.15

red
  color   object  price1  price2
1   red   pencil    4.20    4.12
3   red  ashtray    0.56    0.75

white
   color object  price1  price2
0  white    pen    5.56    4.75

In [29]:
#chain of transofmrations

result1 = frame['price1'].groupby(frame["color"]).mean()
print(type(result1)) # output is a panda object: series

result2 = frame.groupby(frame['color']).mean()
type(result2) #o/p is dataFrame

<class 'pandas.core.series.Series'>

pandas.core.frame.DataFrame

In [36]:
print(frame["price1"].groupby(frame["color"]).mean(),"\n")
print(frame.groupby(frame["color"])["price1"].mean(),"\n")
(frame.groupby(frame["color"]).mean())["price1"]

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

In [39]:
#add a column name
frame.groupby(frame["color"]).mean().add_prefix("mean1_")

       mean1_price1  mean1_price2
color
green         2.025         2.375
red           2.380         2.435
white         5.560         4.750