In [1]:
import numpy as np
import pandas as pd
#Defining Dataframes:

#two index array; first associated with lines similar to series;
#second associated with the column

#create a dictionary object
data = {'color': ['blue','green',"yellow","red","white"],
       "object": ["ball",'pen',"pencil","paper","mug"],
       "price":[1.2,1.0,0.6,0.9,1.7]}
data

{'color': ['blue', 'green', 'yellow', 'red', 'white'],
 'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
 'price': [1.2, 1.0, 0.6, 0.9, 1.7]}

In [2]:
frame = pd.DataFrame(data) #pass the dicitionary objects to a dataframe
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [3]:
frame2 = pd.DataFrame(data, columns =["object","price"]) # can select
                                    #specific columns from the dictionary
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [4]:
frame3 = pd.DataFrame(data, index = ["one","two","three","four","five"])
                #assigning indices explicitly
frame3

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [ ]:
frame4 = pd.DataFrame(np.arange(0,16).reshape((4,4)),
                     index=["red","blue","yellow","white"],
                     columns = ["ball","pen","pencil","paper"])
        #Use arange to assign automatic values
        #DataFrame(Data, array index(row) ,array column)
frame4