In [172]:
import numpy as np
import pandas as pd

In [209]:
data = {"color":["blue","red","Green","yellow","Red"],
       "object":["ball","pen","pencil","paper","mug"],
       "price":[12,1,23,6,5]}

In [214]:
d2 = {"color":{"blue":1,"red":2,"Green":3,"yellow":4,"Red":5},
       "object":{"ball":22,"pen":33,"pencil":44,"paper":13,"mug":34},
       "year":{2011:1,2012:1,2014:23,2016:6,2022:5},
     "loc":{"ind":2,"usa":4,"can":4,"chn":1, "rus":1}}

In [250]:
u2 = pd.DataFrame(data, index = [8,6,4,2,0])
print(u2)
u2.reindex(np.arange(10), method = "ffill")

    color  object  price
8    blue    ball     12
6     red     pen      1
4   Green  pencil     23
2  yellow   paper      6
0     Red     mug      5

    color  object  price
0     Red     mug    5.0
1  yellow   paper    6.0
2  yellow   paper    6.0
3   Green  pencil   23.0
4   Green  pencil   23.0
5     red     pen    1.0
6     red     pen    1.0
7    blue    ball   12.0
8    blue    ball   12.0
9     NaN     NaN    NaN