In [8]:
import numpy as np
import pandas as pd
#Arithmetic methods


frame = pd.DataFrame(np.arange(16).reshape((4,4)),index =["red","blue",
            "yellow","white"],columns=["ball","pen","pencil","paper"])

frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),index = ["blue","green",
            "white","yellow"],columns =["mug","pen","ball"])

frame3 = pd.DataFrame(np.random.random(16).reshape((4,4)),index = ["red",
        "blue","yellow","white"],columns=["ball","pen","pencil","paper"])

frame4 = pd.DataFrame((0.25*np.ones(16)).reshape((4,4)),index = ["red",
        "blue","yellow","white"],columns=["ball","pen","pencil","paper"])

frame5 = pd.DataFrame((np.ones(16)).reshape((4,4)),index = ["red",
        "blue","yellow","white"],columns=["ball","pen","pencil","paper"])

In [4]:
frame.add(frame3) #Adding frames that have same indices and columns

             ball        pen     pencil      paper
red      0.057505   1.416801   2.458549   3.384198
blue     4.204604   5.557346   6.216747   7.819513
yellow   8.570750   9.528240  10.116447  11.355605
white   12.061295  13.150072  14.113967  15.293574

In [5]:
frame.add(frame2) #Adding frames that have different indices and columns
# only entries that have same column and indice name in both arrays are 
added

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [9]:
frame5.sub(frame4) #subtraction

        ball   pen  pencil  paper
red     0.75  0.75    0.75   0.75
blue    0.75  0.75    0.75   0.75
yellow  0.75  0.75    0.75   0.75
white   0.75  0.75    0.75   0.75

In [10]:
frame5.div(frame4) #division

        ball  pen  pencil  paper
red      4.0  4.0     4.0    4.0
blue     4.0  4.0     4.0    4.0
yellow   4.0  4.0     4.0    4.0
white    4.0  4.0     4.0    4.0

In [11]:
frame5.mul(frame4) #multiplication

        ball   pen  pencil  paper
red     0.25  0.25    0.25   0.25
blue    0.25  0.25    0.25   0.25
yellow  0.25  0.25    0.25   0.25
white   0.25  0.25    0.25   0.25

In [14]:
#Operation between data frames and series

ser = pd.Series(np.arange(4),["ball","pen","pencil","paper"])
print(ser,"\n")
print(frame,"\n")
print(frame-ser) #Note entires in frames with corresponding indices
                    # in series are subtractre

ball      0
pen       1
pencil    2
paper     3
dtype: int64

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

        ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

In [15]:
ser["mug"]= 9
print(ser,"\n")
print(frame-ser) #mug doesnt exist in frame hence resultant - NaN

ball      0
pen       1
pencil    2
paper     3
mug       9
dtype: int64

        ball  mug  paper  pen  pencil
red        0  NaN      0    0       0
blue       4  NaN      4    4       4
yellow     8  NaN      8    8       8
white     12  NaN     12   12      12

In [17]:
#Function Application and Mapping
np.sqrt(frame) #square root function on frame

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

In [19]:
#applying functions
print(frame, "\n")
def f(x):
    return(x.max()-x.min())

frame.apply(f) #applied to each column

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [20]:
frame.apply(f, axis =1) #apply function to each row

red       3
blue      3
yellow    3
white     3
dtype: int64

In [22]:
def f(x):
    return (pd.Series([x.min(),x.max()], index =["min","max"])) #return a
                    #series containing min and max

print(frame.apply(f),"\n")
print(frame.apply(f, axis=1))

     ball  pen  pencil  paper
min     0    1       2      3
max    12   13      14     15

        min  max
red       0    3
blue      4    7
yellow    8   11
white    12   15

In [24]:
#Statistical Functions:
print(frame.sum(),"\n")
print(frame.mean(),"\n")
print(frame.describe(),"\n")

ball      24
pen       28
pencil    32
paper     36
dtype: int64

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [ ]:
#Sorting and Ranking